:root {
  --grey: #e5e6e4;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
header,
main,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
header,
footer {
  background-color: var(--grey);
}
main {
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  display: grid;
  background-color: var(--grey);
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
